.listItem {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}

.name {
    font-size: 16px;
}

.friendStatus {
 font-size: 12px;
}

.online {
    color: green;
}

.offline {
    color: red;
}